[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "color/vim-gotham"]
	path = color/vim-gotham
	url = git@github.com:whatyouhide/vim-gotham.git
