[gui]
    encoding = utf-8
[user]
    name = adapter00
	email = adapter00@gmail.com
[merge]
    tool = extMerge
[mergetool "extMerge"]
    cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = false
[diff]
    external = extDiff
[color]
    ui = auto
[core]
    quotepath = false
    editor = /usr/local/bin/vim
[core]
    excludesfile=/Users/takao_maeda/.gitignore_global
[push]
    default = matching

[alias]
    st = status
