[include]
    path = .gitconfig.local
[gui]
    encoding = utf-8
[merge]
    tool = vimdiff3
[mergetool "vimdiff3"]
    cmd = vim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[diff]
    external = extDiff
[color]
    ui = auto
[core]
    quotepath = false
    editor = /usr/local/bin/vim
[push]
    default = matching
[alias]
    st = status
    stt = status -uno
    difff = diff --word-diff
    cp = cherry-pick
