[include]
    path = .gitconfig.local
[gui]
    encoding = utf-8
[merge]
    tool = nvimdiff
[diff]
    tool = nvimdiff
[color]
    ui = auto
[core]
    quotepath = false
    editor = /opt/homebrew/bin/nvim
[push]
	default = current
[alias]
    ck = checkout
    st = status
    stt = status -uno
    difff = diff --word-diff
    cp = cherry-pick
[difftool "nvimdiff"]
    cmd = "vim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
    cmd = "vim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
    trustExistCode = false
    keepBackup = false

[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[ghq]
    root = /Users/adapter/.ghq
    root = /Users/adapter/dev/go/src
