<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>HardwarePlatform</key>
	<string>s5l8940x</string>
	<key>EthernetAddress</key>
	<string>d0:23:db:71:8d:c8</string>
	<key>PasswordProtected</key>
	<false />
	<key>Uses24HourClock</key>
	<false />
	<key>CompassCalibration</key>
	<data>
		BgAVIUU1IBYHBY0AAQAT/8QAy/8PAbQACwBHAaoAxP8bAdYAv/8SAXoAqv8B
		ASMACgAQ/9IA7P+0AHoAqv8BAfCHAAAAAAAAAAAAAA==
	</data>
	<key>UseActivityURL</key>
	<true />
	<key>BluetoothAddress</key>
	<string>d0:23:db:71:8d:c7</string>
	<key>TimeZone</key>
	<string>Asia/Tokyo</string>
	<key>BasebandStatus</key>
	<string>BBNotReady</string>
	<key>HardwareModel</key>
	<string>N94AP</string>
	<key>DeviceName</key>
	<string>Myphone</string>
	<key>SoftwareBundleVersion</key>
	<string></string>
	<key>PartitionType</key>
	<string></string>
	<key>MLBSerialNumber</key>
	<string>C0713953273DR41A</string>
	<key>iTunesHasConnected</key>
	<true />
	<key>WiFiAddress</key>
	<string>d0:23:db:71:8d:c6</string>
	<key>BasebandVersion</key>
	<string></string>
	<key>BasebandRegionSKU</key>
	<data>
		AQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
	</data>
	<key>UseRaptorCerts</key>
	<true />
	<key>TelephonyCapability</key>
	<true />
	<key>BasebandKeyHashInformation</key>
	<dict>
		<key>SKeyStatus</key>
		<integer>0</integer>
		<key>CKeyStatus</key>
		<integer>2</integer>
		<key>AKeyStatus</key>
		<integer>2</integer>
		<key>SKeyHash</key>
		<data>7MQEUyvzG4gjjZc7KsNNAVTS8g4=</data>
	</dict>
	<key>CPUArchitecture</key>
	<string>armv7f</string>
	<key>ProductVersion</key>
	<string>5.0.1</string>
	<key>ActivationStateAcknowledged</key>
	<true />
	<key>SIMStatus</key>
	<string>kCTSIMSupportSIMStatusReady</string>
	<key>RegionInfo</key>
	<string>J/A</string>
	<key>ProximitySensorCalibration</key>
	<data>
		Q00BAAwAAwQAAAAAAAAAAFhQAAG0AbQBAQCHD0IDQgMAALP9jgHbAMtUdwFa
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>HostAttached</key>
	<true />
	<key>ProductionSOC</key>
	<true />
	<key>TrustedHostAttached</key>
	<true />
	<key>IMLockdownEverRegisteredKey</key>
	<false />
	<key>DeviceClass</key>
	<string>iPhone</string>
	<key>SIMTrayStatus</key>
	<string>kCTSIMSupportSIMTrayInsertedWithSIM</string>
	<key>DevicePublicKey</key>
	<data>
		LS0tLS1CRUdJTiBSU0EgUFVCTElDIEtFWS0tLS0tCk1JR0pBb0dCQUs1WjV5
		L281b0VBZVhvV0U5SEduV0ZENUVuOUVia1F6emF5dTY5WjdnOFFEbUt1dzBj
		a1dHWXUKZnFFMUNmb0JHVlJaL1lFTlFZK2d3VHY5cXBsUUQwMmRxYUExdUdn
		WkV3R3M0b0N6emJCcVNFbDhSSG5wc3BLSgp4RUVXc2ZUSFF6b2VoRUhUdlB3
		SEQvTWh3VmUvZGFMbWwrMEhFWDgxVzR2ck5wUDlSTVNKQWdNQkFBRT0KLS0t
		LS1FTkQgUlNBIFBVQkxJQyBLRVktLS0tLQo=
	</data>
	<key>DeviceCertificate</key>
	<data>
		LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM4ekNDQWx5Z0F3SUJB
		Z0lLQWJuVUxXdkpFeTFRd2pBTkJna3Foa2lHOXcwQkFRVUZBREJhTVFzd0NR
		WUQKVlFRR0V3SlZVekVUTUJFR0ExVUVDaE1LUVhCd2JHVWdTVzVqTGpFVk1C
		TUdBMVVFQ3hNTVFYQndiR1VnYVZCbwpiMjVsTVI4d0hRWURWUVFERXhaQmNI
		QnNaU0JwVUdodmJtVWdSR1YyYVdObElFTkJNQjRYRFRFeU1ERXlNakU1Ck1E
		Z3lNRm9YRFRFMU1ERXlNakU1TURneU1Gb3dnWU14TFRBckJnTlZCQU1NSkRJ
		ME56UTNNamd3TFVJMU9FTXQKTkRnelJDMDRNekJGTFRZNE9UVTRPRVJDUlRW
		Rk5ERUxNQWtHQTFVRUJoTUNWVk14Q3pBSkJnTlZCQWdNQWtOQgpNUkl3RUFZ
		RFZRUUhEQWxEZFhCbGNuUnBibTh4RXpBUkJnTlZCQW9NQ2tGd2NHeGxJRWx1
		WXk0eER6QU5CZ05WCkJBc01CbWxRYUc5dVpUQ0JuekFOQmdrcWhraUc5dzBC
		QVFFRkFBT0JqUUF3Z1lrQ2dZRUF0MDFvT2RDRUY2ZWQKTS9Jb0RmOXRJVkdp
		K084VWJ6MC9WSTBDTjNTMEhkemdIQWFRNHRUMTFNM3UvVXlodmJVVHcrNlNV
		RWgvVW1yUgpVL0hTOGZSdU5pSzRKTHB1YU0rK2lHLzFNeGF5TXZFUWwxL3BL
		OHVJYzBHY2VQYXBjWmNaQzBXeEpPaUVyOG15Ckh1bUlCM2RWUGJLVTNtL3Bz
		NDVYQmx3YVRiaFphN01DQXdFQUFhT0JsVENCa2pBZkJnTlZIU01FR0RBV2dC
		U3kKL2lFalJJYVZhbm5WZ1NhT2N4RFlwMHlPZERBZEJnTlZIUTRFRmdRVTJk
		NDdhTjVwcW10TkxaQlkxK2VLcmNKLwpmOEF3REFZRFZSMFRBUUgvQkFJd0FE
		QU9CZ05WSFE4QkFmOEVCQU1DQmFBd0lBWURWUjBsQVFIL0JCWXdGQVlJCkt3
		WUJCUVVIQXdFR0NDc0dBUVVGQndNQ01CQUdDaXFHU0liM1kyUUdDZ0lFQWdV
		QU1BMEdDU3FHU0liM0RRRUIKQlFVQUE0R0JBQzB5NmMrdWhXSm50Mmk4SWZK
		RnY3bFpvSDBLUUQvNVIwbjVQaUNRNTExSjRqTnFucnMyQ1JNTgpvcWRnbWVO
		ZjhLaGljaisrakpFK3BmSzJKTFQyTHRmc2Y2K09WZmNDNEo2VnJvYXBHVG9n
		bllQMEN5cmVCY2Q3CmxlSUFqckl2ZmR6Q2ZybWlSVm4wVDRzWnVIRFBDTXJx
		VHVYOXhjOGMvVHIrZ3hFU0JaclcKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0t
		LQo=
	</data>
	<key>UniqueDeviceID</key>
	<string>e442f44aeae433aa1f8496595182587ef74d924a</string>
	<key>BasebandCertId</key>
	<integer>2</integer>
	<key>FirmwareVersion</key>
	<string>iBoot-1219.43.32</string>
	<key>ActivationPublicKey</key>
	<data>
		LS0tLS1CRUdJTiBSU0EgUFVCTElDIEtFWS0tLS0tCk1JR0pBb0dCQUxkTmFE
		blFoQmVublRQeUtBMy9iU0ZSb3ZqdkZHODlQMVNOQWpkMHRCM2M0QndHa09M
		VTlkVE4KN3YxTW9iMjFFOFB1a2xCSWYxSnEwVlB4MHZIMGJqWWl1Q1M2Ym1q
		UHZvaHY5VE1Xc2pMeEVKZGY2U3ZMaUhOQgpuSGoycVhHWEdRdEZzU1RvaEsv
		SnNoN3BpQWQzVlQyeWxONXY2Yk9PVndaY0drMjRXV3V6QWdNQkFBRT0KLS0t
		LS1FTkQgUlNBIFBVQkxJQyBLRVktLS0tLQo=
	</data>
	<key>TimeZoneOffsetFromUTC</key>
	<integer>32400</integer>
	<key>ActivityURL</key>
	<string>https://albert.apple.com/deviceservices/activity</string>
	<key>ModelNumber</key>
	<string>MD258</string>
	<key>MobileSubscriberNetworkCode</key>
	<string>65535</string>
	<key>MobileSubscriberCountryCode</key>
	<string></string>
	<key>SBLockdownEverRegisteredKey</key>
	<true />
	<key>SoftwareBehavior</key>
	<data>GQAAAAAAAAAAAAAAAAAAAA==</data>
	<key>ProductType</key>
	<string>iPhone4,1</string>
	<key>ActivationState</key>
	<string>Activated</string>
	<key>DeviceColor</key>
	<string>black</string>
	<key>ProtocolVersion</key>
	<string>2</string>
	<key>SerialNumber</key>
	<string>C39GHWC2DTDM</string>
	<key>SupportedDeviceFamilies</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UniqueChipID</key>
	<integer>357556978639</integer>
	<key>TimeIntervalSince1970</key>
	<integer>1327380665</integer>
	<key>DieID</key>
	<integer>2457916530327984640</integer>
	<key>BuildVersion</key>
	<string>9A406</string>
</dict>
</plist>